<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>MyServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <!-- JSP 초기화 파라미 -->
  <context-param>
  	<param-name>jspApp</param-name>
  	<param-value>Hello JSP</param-value>
  </context-param>
  <!-- 특정 JSP 파일에서만 초기화 파라미터 -->
  <servlet>
  	<servlet-name>initParam</servlet-name>
  	<jsp-file>/initParam.jsp</jsp-file>
  	<init-param>
  		<param-name>onlyApp</param-name>
  		<param-value>my jsp!!</param-value>
  	</init-param>
  </servlet>
  <!-- 웹페이지 전체에서 사용하는 파라미터 -->
  <!--  
  <context-param>
  	<param-name>gAge</param-name>
  	<param-value>1001</param-value>
  </context-param>
  -->
  <!-- 개별 서블릿에서 초기화 파라미터 넣기 -->
  <!--
  <servlet>
  	<servlet-name></servlet-name>
  	<servlet-class></servlet-class>
  	<init-param>
  		<param-name></param-name>
  		<param-value></param-value>
  	</init-param>
  </servlet>
    -->
</web-app>